{% ckan_extends %}

{% block scripts %}
  {{ super() }}
  {% resource 'faoclh/js/fao_facet_list_ui_control.js' %}
{% endblock %}

{% block secondary_content %}
    {% snippet "group/snippets/info.html", group=c.group_dict, show_nums=true %}
    <div class="filters">
        <div>
            {% for facet in c.facet_titles %}
                {% if facet  in ['fao_resource_type', 'fao_activity_type', 'fao_geographic_focus']  %}
                    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, label_function=h.fao_voc_label_func(facet), extras={'id':c.group_dict.id}) }}
                {% else %}
                    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
                {% endif %}
            {% endfor %}
        </div>
        <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
    </div>
{% endblock %}
