{% ckan_extends %}

{% block package_basic_fields_custom %}
  {{ super() }}

  {% for voc_name in ['fao_resource_type', 'fao_activity_type', 'fao_geographic_focus']  %}
  <div class="form-group control-medium">
    <label class="control-label" for="field-{{ voc_name }}">{{ _(voc_name) }}</label>
    <div class="controls">
      <select id="{{voc_name}}_code" name="{{voc_name}}" data-module="autocomplete">
        {% for voc_entry in h.fao_voc(voc_name)  %}
          {% set voc_id = voc_entry['name'] %}
          {% set voc_label = voc_entry['label'] %}
          <option value="{{ voc_id }}" {% if voc_id in data.get(voc_name, []) %}selected="selected"{% endif %}>{{ voc_label }}</option>
        {% endfor %}
      </select>
    {% set error = errors[voc_name] %}
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    </div>
  </div>
  {% endfor %}


{% endblock %}
