{% extends "admin/base_vocab.html" %}

{% block vocab_content %}
<div>
    {% if errors%}
    <div class="error-explanation alert alert-error ">
        <p>The form contains invalid entries:</p>
        <ul>
            {% for error in errors%}
            <li data-field-label="Name">Name: {{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if status == 'created' or status  == 'edited' %}
    <div class="error-explanation alert alert-success">
        <p>{{ vocab_label }} Tag {% if status  == 'edited' %}Edited{% else %}Created{%  endif %} Successfully</p>
    </div>
    {% endif %}
    <h3>{% if tag_id %}Edit{% else %}Add New {%  endif %} {{ vocab_label }} Vocabulary Tag</h3>
    <form method="post" accept-charset="utf-8" enctype="multipart/form-data" >
        <div class="form-group control-medium">
            <div class="controls">
                <div class="form-group control-medium">
                    <label class="control-label">
                        <span class="control-required">*</span>
                        Name
                    </label>
                    <div class="controls ">
                        <input type="text" name="tag_name" value="{{ tag_name }}" placeholder="vocabulary name"
                            class="form-control" min="2" max="100" required>
                    </div>
                </div>
            </div>
            <div class="controls vocab-image {% if not image_url%}vocab-upload-buttons{%endif%}" id="vocab-image-control">
                <div class="form-group control-full" style="">
                    <label class="control-label" for="field-image-url">Image URL</label>
                    <div class="image-url-form">
                        <a href="javascript:;" onclick="remove_image_url()" class="btn btn-danger" style="margin-right: 0; top: 28px; float: right; right: 7px; padding: 0 12px; border-radius: 100px;" title="Remove">Remove</a>
                        <input id="field-image-url" type="url" name="image_url" value="{{ image_url }}" placeholder="http://example.com/my-image.jpg" class="form-control" readonly=""> </div>
                    <div class="image-buttons" id="image-upload-buttons">
                        <input style="display: none;" onchange="fill_upload_form(this.files[0].name, 'text')" id="field-image-upload" type="file" accept="image/*" name="image_upload" value="" placeholder="" class="form-control" title="Upload a file on your computer" style="width: 93.7031px;">
                        <a style="margin-right: 1%;" href="javascript:;" class="btn btn-default" onclick="document.getElementById('field-image-upload').click()">
                            <i class="fa fa-cloud-upload"></i>Upload
                        </a>
                        <a href="javascript:;" onclick="fill_upload_form(null, 'url')" class="btn btn-default" title="Link to a URL on the internet (you can also link to an API)" style="">
                            <i class="fa fa-globe"></i>Link
                        </a>
                    </div>
                </div>
            </div>
            <div class="controls">
                <div class="form-group control-medium">
                    <label class="control-label">
                        <span class="control-required">*</span>
                        Label(s)
                    </label>
                    {% for locale in h.get_available_locales() %}
                    <div class="input-group" style="margin-top: 2%;">
                        <label class="input-group-addon">{{ locale.display_name or locale.english_name }}</label>
                        <input class="form-control" id="{{ lang }}" type="text" name="{{ locale.identifier }}" {% if tag_name %}value="{{ labels.get(locale.identifier, '') }}"{% endif %} placeholder="" required>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-actions">
            <a class="btn btn-danger pull-left" href={% if tag_id %}/ckan-admin/vocabulary/delete/{{ vocab_name }}/tag/{{ tag_id }}{% else %}/ckan-admin/vocabulary/all/{{ vocab_name }}{% endif %} data-module="confirm-action">
                {% if tag_id %}{% trans %}Delete{% endtrans %}{% else %}{% trans %}Cancel{% endtrans %}{% endif %}
            </a>
            <button class="btn btn-primary" name="save" type="submit">{% trans %}Save Tag{% endtrans %}</button>
        </div>
    </form>
</div>
<script>
    function toggle_image_upload() {
        document.getElementById('vocab-image-control').classList.toggle('vocab-upload-buttons')
    }

    function remove_image_url(){
        document.getElementById('field-image-url').value = '';
        toggle_image_upload();
    }

    function fill_upload_form(image_name, form_type) {
        const elem = document.getElementById('field-image-url');
        elem.value = image_name;
        elem.type = form_type;
        elem.readOnly = false;
        toggle_image_upload();
    }
</script>
{% endblock %}