{% set current_url = h.full_current_url() %}
{% block social_nav %}
    <ul class="nav nav-simple">
        <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
        <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
        <li class="nav-item"><a href="http://www.linkedin.com/shareArticle?url={{ current_url }}" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
    </ul>
{% endblock %}
