{% set items = items or [] %}

<div class="fao-item-container">
    <div class="fao-item-container-head">
        <h3 class="heading"><strong>{{ _('Kind of activities') }}</strong></h3>
        <a href="{{ h.url_for('search') }}">
            <div class="fao-item-see-all">{{_('See all')}}</div>
        </a>
    </div>
    <div class="fao-item-container-body box">
        {% for item in items %}
            {% set url = h.url_for(controller='package', action='search', fao_activity_type=item.name, _fao_expanded_facets='fao_activity_type') %}
            {% snippet 'home/snippets/fao_item_summary.html',
                title=h.fao_voc_label('fao_activity_type', item.name) or item.display_name,
                dataset_url=url,
                dataset_count= item.count,
                thumbnail=item.thumbnail or h.get_tag_image_url('fao_activity_type', item.name) %}
        {% endfor %}
    </div>
</div>
